/* App.css */


.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent; /* Set your desired background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-button {
  padding: 10px 20px;
  font-size: 18px;
}
