.clock-widget {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
    width: 250px;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .time {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .date {
    font-style: italic;
  }
  